@model FEE.ViewModel.FilterViewModel
@using FEE.Library
@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_Layouts.cshtml";
}
@{
    var permission = (List<string>)HttpContext.Current.Session["PERMISSION"];
    IEnumerable<FEE.ViewModel.PostViewModel> posts = ViewData["Posts"] as IEnumerable<FEE.ViewModel.PostViewModel>;
}
<script src="~/Areas/Admin/template_admin/bower_components/jquery/dist/jquery.min.js"></script>
<script>
    $(function () {
        $("#example1").DataTable({
            "responsive": true,
            "autoWidth": false,
            language: {
                url: '//cdn.datatables.net/plug-ins/1.10.24/i18n/Vietnamese.json'
            },
            "ordering": false
        });
        $('#example2').DataTable({
            "paging": true,
            "lengthChange": false,
            "searching": false,
            "ordering": false,
            "info": true,
            "autoWidth": false,
            "responsive": true
        });



    });
</script>
@Html.Partial("_MessageAlert")

<section class="content-header">
    <h1>
        QUẢN LÝ
        <small>BÀI VIẾT</small>
    </h1>
    <ol class="breadcrumb">
        <li><a href="/Admin/Home"><i class="fa fa-dashboard"></i> Trang chính</a></li>
        <li class="active">Bài viết</li>
    </ol>
</section>

<!-- Main content -->
<section class="content">
    <div class="row">
        <div class="col-xs-12">

            <div class="box">
                <div class="box-header" style="padding-bottom:0px">
                    <h3 class="box-title">Danh sách bài viết</h3>
                    @using (Html.BeginForm("Index", "Post", FormMethod.Post, new { @style = "margin:8px 0px" }))
                    {
                        <div class="row">
                            <div class="col-md-3">
                                @Html.DropDownListFor(model => model.MenuId, (List<SelectListItem>)ViewBag.ListMenus, "[Chọn danh mục của bài viết]", new { @class = "form-control" })
                            </div>
                            <div class="col-md-3">
                                @Html.DropDownListFor(model => model.CategoryId, (SelectList)ViewBag.ListCategories, "[Chọn loại tin]", new { @class = "form-control" })
                            </div>
                        </div>
                        <button style="margin-top:4px" type="submit" class="btn btn-primary">Tìm kiếm</button>
                    }
                    @{
                        if (permission.Contains("CONTENT_POST_CREATE"))
                        {
                             <a href="/admin/post/create" class="btn btn-success"><i class="fa fa-fw fa-plus"></i>Thêm mới</a>                        
                        }
                    }
                    
                    @{
                        if (permission.Contains("CONTENT_POST_TRASH"))
                        {
                            <a href="/admin/post/trashindex" class="btn btn-warning"><i class="fa fa-fw fa-recycle"></i>Đã xóa(@ViewBag.TrashCount)</a>
                        }
                    }
                </div>
                <!-- /.box-header -->
                <div class="box-body">
                    <table id="example1" class="table table-bordered table-striped">
                        <thead>
                            <tr>
                                <th>Tiêu đề</th>
                                <th style="width:15%">Hình ảnh</th>
                                <th style="width:10%">Ngày đăng</th>
                                <th style="width:10%">Trạng thái</th>
                                <th style="width:6%">Nổi bật</th>
                                <th style="width:6%">Ghim</th>
                                <th style="width:6%">Đăng</th>
                                <th style="width:8%">Thao tác</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in posts)
                            {
                                <tr>

                                    <td>@item.Name</td>
                                    <td><img src="@item.Img" style="width:120px;height:100px" alt="No Image" /></td>
                                    <td>@item.CreateDate.ToString("dd-MM-yyyy")</td>
                                    <td>@item.Status.GetDisplayName()</td>
                                    <td class="text-center">
                                        <input type="checkbox" onclick="changeHome(this)" id="@item.PostId" @(item.HomeFlag == true ? "checked" : "") />
                                    </td>
                                    <td class="text-center">
                                        <input type="radio" name="hotflag" onclick="changeHot(this)" id="@item.PostId" @(item.HotFlag == true ? "checked" : "") />
                                    </td>
                                    <td class="text-center">
                                        <input type="checkbox" onclick="changeShow(this)" id="@item.PostId" @(item.IsShow == true ? "checked" : "") />
                                    </td>
                                    <td class="text-center">
                                        @{
                                            if (permission.Contains("CONTENT_POST_DELETE"))
                                            {
                                                <a onclick="deleteConfirm(this)" id="@item.PostId" data-toggle="modal" data-target="#myModal"><i style="color:red" class="fa fa-fw fa-trash"></i></a>
                                            }
                                        }
                                        @{
                                            if (permission.Contains("CONTENT_POST_UPDATE"))
                                            {
                                                <a href="/admin/post/update/@item.PostId"><i style="color:green" class="fa fa-fw fa-pencil"></i></a>
                                            }
                                        }
                                        <a href="/admin/post/item/@item.PostId"><i style="color:blue" class="fa fa-fw fa-eye"></i></a>

                                    </td>
                                </tr>
                            }
                        </tbody>
                        <tfoot>
                            <tr>
                                <th>Tiêu đề</th>
                                <th>Hình ảnh</th>
                                <th>Ngày đăng</th>
                                <th>Trạng thái</th>
                                <th>Nội bật</th>
                                <th>Ghim</th>
                                <th>Đăng</th>
                                <th>Thao tác</th>
                            </tr>
                        </tfoot>
                    </table>
                </div>
                <!-- /.box-body -->
            </div>
        </div>
        <!-- /.col -->
    </div>
    <!-- /.row -->
</section>
<div class="modal fade" id="myModal" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Bạn đang yêu cầu xóa dữ liệu</h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <div class="modal-body">
                Bạn có thật sự muốn xóa dữ liệu này ?
            </div>
            <div class="modal-footer">
                <button type="button" id="deleteBtn" class="btn btn-danger" data-dismiss="modal">Xóa</button>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>

        </div>

    </div>
</div>

<script>
    var idx;
    var st;
    var deleteConfirm = function (xthis) {
        xid = xthis.id;
        st = true;
    }
    $('#deleteBtn').click(function () {
        $.ajax({
            type: "POST",
            url: '/Admin/Post/Trash',
            contentType: "application/json; charset=utf-8",
            data: JSON.stringify({ id: xid, status: st }),
            dataType: "json",
            success: function (res) {
                location.reload();

            }
        });
    })
    function changeShow(xthis) {
        var xid = xthis.id;
        var st = xthis.checked ? true : false;
        $.ajax({
            type: "POST",
            url: '/Admin/Post/changeshow',
            contentType: "application/json; charset=utf-8",
            data: JSON.stringify({ id: xid, status: st }),
            dataType: "json",
            success: function (res) {
                location.reload();

            }
        });
    }
    function changeHome(xthis) {
        var xid = xthis.id;
        var st = xthis.checked ? true : false;
        $.ajax({
            type: "POST",
            url: '/Admin/Post/changehome',
            contentType: "application/json; charset=utf-8",
            data: JSON.stringify({ id: xid, status: st }),
            dataType: "json",
            success: function (res) {
                location.reload();

            }
        });
    }
    function changeHot(xthis) {
        var xid = xthis.id;
        var st = xthis.checked ? true : false;
        $.ajax({
            type: "POST",
            url: '/Admin/Post/changehot',
            contentType: "application/json; charset=utf-8",
            data: JSON.stringify({ id: xid, status: st }),
            dataType: "json",
            success: function (res) {
                location.reload();

            }
        });
    }
    $('option').css({ "color": "black", "font-weight": "600" });
    $('option[disabled="disabled"]').css({ "background-color": "#f5f5f5", "color": "red", "font-style": "italic", "font-weight": "400" });
</script>

