@model FEE.ViewModel.UserViewModel

@{
    ViewBag.Title = "Update";
    Layout = "~/Areas/Admin/Views/Shared/_Layouts.cshtml";
}

@Html.Partial("_MessageAlert")
<script src="~/Areas/Admin/template_admin/bower_components/jquery/dist/jquery.min.js"></script>

<div class="box box-warning">
    <div class="box-header with-border">
        <h3 class="box-title">Cập nhật thông tin người dùng</h3>
    </div>
    <!-- /.box-header -->
    <div class="box-body">
        @using (Html.BeginForm("Update", "User", FormMethod.Post, new { enctype = "multipart/form-data" }))
        {
            @Html.TextBoxFor(model => model.Id, htmlAttributes: new { @style = "display:none", @type = "number" })
            <div class="form-group">
                <label>Hình ảnh đại diện:</label>
                @Html.TextBoxFor(model => model.File, htmlAttributes: new { @type = "file" })
            </div>
            <div class="form-group">
                <img class="img-responsive" style="width:100px;height:100px;border-radius:50%" id="avtpreview" src="@Model.Image" alt="Ảnh đại diện" />
            </div>
            <div class="form-group">
                <label>Họ và tên:</label>
                @Html.TextBoxFor(model => model.Name, htmlAttributes: new { @class = "form-control", @placeholder = "Nhập họ và tên" })
                @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })

            </div>
            <div class="form-group">
                <label>Số điện thoại liên hệ:</label>
                @Html.TextBoxFor(model => model.Phone, htmlAttributes: new { @class = "form-control", @placeholder = "Nhập số điện thoại" })
                @Html.ValidationMessageFor(model => model.Phone, "", new { @class = "text-danger" })

            </div>


            <div class="form-group">
                <label>Email liên hệ:</label>
                @Html.TextBoxFor(model => model.Email, htmlAttributes: new { @class = "form-control", @required = "true", @type = "email", @placeholder = "Nhập email" })
                @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })
            </div>

            <div class="form-group">
                <label>Tên tài khoản:</label>
                @Html.TextBoxFor(model => model.Username, htmlAttributes: new { @class = "form-control", @placeholder = "Nhập tên tài khoản", @disabled = "true" })
                @Html.ValidationMessageFor(model => model.Username, "", new { @class = "text-danger" })

            </div>
            <div class="row">
                <div class="col-md-4">
                    <div class="form-group">
                        <label>Nhóm tài khoản:</label><br />
                        @Html.DropDownListFor(m => m.RoleId, Model.Roles, new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.RoleId, "", new { @class = "text-danger" })

                    </div>

                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        <label>Bộ môn:</label><br />
                        @Html.DropDownListFor(m => m.DepartmentId, Model.Departments, new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.DepartmentId, "", new { @class = "text-danger" })

                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group" style="margin-bottom:0px">
                        <label>Trạng thái</label><br />
                        @Html.EnumDropDownListFor(model => model.Status, htmlAttributes: new { @class = "form-control" })
                    </div>
                </div>
            </div>
            <div class="box-footer">
                <button type="submit" class="btn btn-primary">Cập nhật</button>
                <a href="/Admin/User/Index" class="btn btn-default">Quay lại</a>
            </div>
        }
    </div>
</div>
<script>
    function readURL(input) {
        if (input.files && input.files[0]) {
            var reader = new FileReader();

            reader.onload = function (e) {
                $('#avtpreview').attr('src', e.target.result);
            }

            reader.readAsDataURL(input.files[0]);
        }
    }

    $("#File").change(function () {
        readURL(this);
    });
</script>

