@model FEE.ViewModel.UserViewModel

@{
    ViewBag.Title = "UserInfo";
    Layout = "~/Areas/Admin/Views/Shared/_Layouts.cshtml";
}

@Html.Partial("_MessageAlert")

<div class="box box-warning">
    <div class="box-header with-border">
        <h3 class="box-title">Cập nhật thông tin người dùng</h3>
    </div>
    <!-- /.box-header -->
    <div class="box-body">
        @using (Html.BeginForm("UserInfo", "User", FormMethod.Post))
        {
            @Html.TextBoxFor(model => model.Id, htmlAttributes: new { @style = "display:none", @type = "number" })
            <div class="form-group">
                <label>Họ và tên:</label>
                @Html.TextBoxFor(model => model.Name, htmlAttributes: new { @class = "form-control", @placeholder = "Nhập tiêu đề bài viết" })
                @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })

            </div>
            <div class="form-group">
                <label>Số điện thoại liên hệ:</label>
                @Html.TextBoxFor(model => model.Phone, htmlAttributes: new { @class = "form-control", @placeholder = "Nhập mô tả cho bài viết" })
                @Html.ValidationMessageFor(model => model.Phone, "", new { @class = "text-danger" })

            </div>


            <div class="form-group">
                <label>Email liên hệ:</label>
                @Html.TextBoxFor(model => model.Email, htmlAttributes: new { @class = "form-control", @required = "true", @type = "email" })
                @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })
            </div>

            <div class="form-group">
                <label>Tên tài khoản:</label>
                @Html.TextBoxFor(model => model.Username, htmlAttributes: new { @class = "form-control", @placeholder = "Nhập mô tả cho bài viết", @disabled = "true" })
                @Html.ValidationMessageFor(model => model.Username, "", new { @class = "text-danger" })

            </div>
            <div class="box-footer">
                <button type="submit" class="btn btn-primary">Cập nhật</button>
                <a href="/Admin/Home" class="btn btn-default">Quay lại</a>
            </div>
        }
    </div>
</div>

