@model FEE.ViewModel.PostViewModel

@{
    ViewBag.Title = "PostDetail";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div id="fb-root"></div>
<script async defer crossorigin="anonymous" src="https://connect.facebook.net/vi_VN/sdk.js#xfbml=1&version=v11.0" nonce="n22sCSu7"></script>
<section>
    <div class="container">
        <div class="row">
            <div class="col-md-9">
                <h4 style="color:black">@Model.Name</h4>
                <p style="margin-right:10px">Ngày: @Model.CreateDate.ToString("dd-MM-yyyy") Người soạn: @Model.Author</p>
                <p style="color:black">@Html.Raw(Model.Content)</p>
                <p><a href="javascript:void(0)" onclick="In_Content()">Tạo bản IN</a></p>
                <div style="margin-top:20px;position:absolute;right:-60px">
                    <div class="fb-like" data-href="https://localhost:44303/@Model.Alias-@Model.PostId" data-width="" data-layout="standard" data-action="like" data-size="small" data-share="true"></div>
                </div>
                <div style="margin-top: 60px;" class="commment-fb-cus">
                    <div class="fb-comments" data-href="https://localhost:44303/@Model.Alias-@Model.PostId" data-numposts="5" data-width="100%"></div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="sidebar sidebar-right mt-sm-30">
                    <div class="widget">
                        <h5 class="widget-title line-bottom" style="margin-bottom:10px">Từ khóa tìm kiếm</h5>
                        @{Html.RenderAction("Tag", "Post");}
                    </div>
                    @{Html.RenderAction("Category", "Post");}
                    <div class="widget">
                        <h5 class="widget-title line-bottom">Bài viết liên quan</h5>
                        @{Html.RenderAction("PostRelate", "Post");}
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<div style="display:none" id="main">
    <link href="~/template-client/css/bootstrap.min.css" rel="stylesheet" type="text/css">
    <link href="~/template-client/css/jquery-ui.min.css" rel="stylesheet" type="text/css">
    <link href="~/template-client/css/animate.css" rel="stylesheet" type="text/css">
    <link href="~/template-client/css/css-plugin-collections.css" rel="stylesheet" />
    <link id="menuzord-menu-skins" href="~/template-client/css/menuzord-skins/menuzord-boxed.css" rel="stylesheet" />
    <link href="~/template-client/css/style-main.css" rel="stylesheet" type="text/css">
    <link href="~/template-client/css/preloader.css" rel="stylesheet" type="text/css">
    <link href="~/template-client/css/custom-bootstrap-margin-padding.css" rel="stylesheet" type="text/css">
    <link href="~/template-client/css/responsive.css" rel="stylesheet" type="text/css">
    <link href="~/template-client/css/ionicons.css" rel="stylesheet" />
    <link href="~/template-client/js/revolution-slider/css/settings.css" rel="stylesheet" type="text/css" />
    <link href="~/template-client/js/revolution-slider/css/layers.css" rel="stylesheet" type="text/css" />
    <link href="~/template-client/js/revolution-slider/css/navigation.css" rel="stylesheet" type="text/css" />
    <link href="~/template-client/css/colors/theme-skin-color-set1.css" rel="stylesheet" type="text/css">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div id="header" class="clearfix">
                    <h2>Khoa Điện - Điện Tử</h2>
                    <p><a title="Khoa Điện - Điện Tử" href="http://fee.utehy.edu.vn/">http://fee.utehy.edu.vn</a></p>
                </div>
                <div class="clear"></div>
                <div id="content">
                    <h1>@Model.Name</h1>
                    <ul>
                        <li class="time">Ngày: @Model.CreateDate.ToString("dd-MM-yyyy")</li>
                        <li><a title="Đóng cửa sổ này" href="javascript:;" onclick="window.close()">Đóng cửa sổ này</a></li>
                        <li><a title="Đóng cửa sổ này" href="javascript:;" onclick="window.print()">In bài</a></li>
                    </ul>
                    <div class="clear"></div>
                    <div>
                        @Model.Description
                    </div>
                    <div class="clearfix">
                        @Html.Raw(Model.Content)
                        <br />
                    </div>
                </div>
                <div id="footer">
                    <div id="url"><strong>URL của bản tin này:</strong> <a href="bai-viet-@Model.Alias-@Model.PostId" title="@Model.Name">bai-viet-@Model.Alias-@Model.PostId</a></div>
                    <div class="clear"></div>
                    <div class="copyright">&copy; Khoa Điện - Điện Tử</div>
                    <div id="contact"><a href="http://fee.utehy.edu.vn/mailto:tranxuantien@gmail.com">tranxuantien@gmail.com</a></div>
                </div>
            </div>
        </div>

    </div>
</div>
<script>
    function In_Content() {
        var prtContent = document.getElementById('main');
        var WinPrint = window.open('', '', 'letf=0,top=0,width=800,height=800');
        WinPrint.document.write(prtContent.innerHTML);
        WinPrint.document.close();
        WinPrint.focus();
    }
</script>
